.izq2021{
    background-image: url('../img/copa2021.png');
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 150px;
    min-height: 300px;
}