iframe {
    border: 5px solid transparent;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7), 0 0 40px rgba(0, 123, 255, 0.7);
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.youtube-video {
    max-width: 100%;
    width: 560px; 
    height: 315px; 
}